# Data pre-processing

### Import pandas & Load csv

In [1]:
import pandas as pd
df = pd.read_csv('player_info_ArsenalFC.csv')
df.head()

,number,name,position,age,nation,value
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,€32.00m
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,€8.00m
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,€2.00m
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,€300Th.
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,€28.00m

### Information of Data

In [2]:
df.shape # (rows, columns)

(26, 6)

In [3]:
df.info

<bound method DataFrame.info of     number                       name            position                age  \
0        1                 Bernd Leno          Goalkeeper   Mar 4, 1992 (28)
1       33                Mathew Ryan          Goalkeeper   Apr 8, 1992 (28)
2       13       Rúnar Alex Rúnarsson          Goalkeeper  Feb 18, 1995 (25)
3       44                Dejan Iliev          Goalkeeper  Feb 25, 1995 (25)
4        6                    Gabriel         Centre-Back  Dec 19, 1997 (23)
5       21             Calum Chambers         Centre-Back  Jan 20, 1995 (26)
6       16                Rob Holding         Centre-Back  Sep 20, 1995 (25)
7       22                 Pablo Marí         Centre-Back  Aug 31, 1993 (27)
8       23                 David Luiz         Centre-Back  Apr 22, 1987 (33)
9        3             Kieran Tierney           Left-Back   Jun 5, 1997 (23)
10       2            Héctor Bellerín          Right-Back  Mar 19, 1995 (25)
11      17              Cédric Soares          Right-Back  Aug 31, 1991 (29)
12      18              Thomas Partey  Defensive Midfield  Jun 13, 1993 (27)
13      34               Granit Xhaka  Defensive Midfield  Sep 27, 1992 (28)
14      25             Mohamed Elneny  Defensive Midfield  Jul 11, 1992 (28)
15       8              Dani Ceballos    Central Midfield   Aug 7, 1996 (24)
16       7                Bukayo Saka       Left Midfield   Sep 5, 2001 (19)
17      11            Martin Ødegaard  Attacking Midfield  Dec 17, 1998 (22)
18      32           Emile Smith Rowe  Attacking Midfield  Jul 28, 2000 (20)
19      35         Gabriel Martinelli         Left Winger  Jun 18, 2001 (19)
20      19               Nicolas Pépé        Right Winger  May 29, 1995 (25)
21      12                    Willian        Right Winger   Aug 9, 1988 (32)
22      24               Reiss Nelson        Right Winger  Dec 10, 1999 (21)
23      14  Pierre-Emerick Aubameyang      Centre-Forward  Jun 18, 1989 (31)
24       9        Alexandre Lacazette      Centre-Forward  May 28, 1991 (29)
25      30              Eddie Nketiah      Centre-Forward  May 30, 1999 (21)

             nation      value
0           Germany  €32.00m
1         Australia   €8.00m
2           Iceland   €2.00m
3   North Macedonia  €300Th.
4            Brazil  €28.00m
5           England  €14.50m
6           England  €12.00m
7             Spain   €7.00m
8            Brazil   €6.00m
9          Scotland  €28.00m
10            Spain  €28.00m
11         Portugal   €4.00m
12            Ghana  €50.00m
13      Switzerland  €25.00m
14            Egypt   €7.00m
15            Spain  €32.00m
16          England  €40.00m
17           Norway  €40.00m
18          England   €2.70m
19           Brazil  €25.00m
20    Cote d'Ivoire  €40.00m
21           Brazil  €15.00m
22          England  €12.50m
23            Gabon  €40.00m
24           France  €35.00m
25          England  €20.00m    >

### Data pre-processing

In [4]:
df['value'] = df['value'].str.replace('€','')
df['value'] = df['value'].str.replace('m','')
df['value'] = df['value'].str.replace('300Th.','0.3')
df['value'] = df['value'].astype('float')
df.head()

<ipython-input-4-dd614703095e>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['value'] = df['value'].str.replace('300Th.','0.3')

,number,name,position,age,nation,value
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,32.0
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,8.0
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,2.0
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,0.3
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,28.0

In [5]:
df['시장가치(억)'] = df['value']*13.42  # Change the currency : € => \
df.head()

,number,name,position,age,nation,value,시장가치(억)
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,32.0,429.440
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,8.0,107.360
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,2.0,26.840
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,0.3,4.026
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,28.0,375.760

In [6]:
df.drop(columns = ['value'],inplace=True)
df.head()

,number,name,position,age,nation,시장가치(억)
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,429.440
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760

In [7]:
df.to_csv('1_player_info_ArsenalFC.csv')