# Group Data

### Import pandas & Load csv

In [1]:
import pandas as pd
df2 = pd.read_csv('2_player_info_ArsenalFC.csv')
df2.drop(columns = ['Unnamed: 0'], inplace=True)

### Group and Analyze data

In [2]:
df2.groupby('position')

In [3]:
g = df2.groupby('position')
g.size()

position
Attacking Midfield    2
Central Midfield      1
Centre-Back           5
Centre-Forward        3
Defensive Midfield    3
Goalkeeper            4
Left Midfield         1
Left Winger           1
Left-Back             1
Right Winger          3
Right-Back            2
dtype: int64

In [4]:
g.count()

                    number  name  birth (age)  nation  시장가치(억)
position
Attacking Midfield       2     2            2       2        2
Central Midfield         1     1            1       1        1
Centre-Back              5     5            5       5        5
Centre-Forward           3     3            3       3        3
Defensive Midfield       3     3            3       3        3
Goalkeeper               4     4            4       4        4
Left Midfield            1     1            1       1        1
Left Winger              1     1            1       1        1
Left-Back                1     1            1       1        1
Right Winger             3     3            3       3        3
Right-Back               2     2            2       2        2

In [5]:
g['시장가치(억)'].sum()

position
Attacking Midfield     573.034
Central Midfield       429.440
Centre-Back            905.850
Centre-Forward        1274.900
Defensive Midfield    1100.440
Goalkeeper             567.666
Left Midfield          536.800
Left Winger            335.500
Left-Back              375.760
Right Winger           905.850
Right-Back             429.440
Name: 시장가치(억), dtype: float64

In [6]:
c = df2.groupby('nation')
c.size()

nation
Australia          1
Brazil             4
Cote d'Ivoire      1
Egypt              1
England            6
France             1
Gabon              1
Germany            1
Ghana              1
Iceland            1
North Macedonia    1
Norway             1
Portugal           1
Scotland           1
Spain              3
Switzerland        1
dtype: int64

In [7]:
c['시장가치(억)'].sum().sort_values(ascending = False)

nation
England            1364.814
Brazil              993.080
Spain               899.140
Ghana               671.000
Cote d'Ivoire       536.800
Gabon               536.800
Norway              536.800
France              469.700
Germany             429.440
Scotland            375.760
Switzerland         335.500
Australia           107.360
Egypt                93.940
Portugal             53.680
Iceland              26.840
North Macedonia       4.026
Name: 시장가치(억), dtype: float64

### Copy with values shifted by 1

In [8]:
df2.shift(1)

,number,name,position,birth (age),nation,시장가치(억)
0,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,429.440
2,33.0,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360
3,13.0,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840
4,44.0,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026
5,6.0,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760
6,21.0,Calum Chambers,Centre-Back,"Jan 20, 1995 (26)",England,194.590
7,16.0,Rob Holding,Centre-Back,"Sep 20, 1995 (25)",England,161.040
8,22.0,Pablo Marí,Centre-Back,"Aug 31, 1993 (27)",Spain,93.940
9,23.0,David Luiz,Centre-Back,"Apr 22, 1987 (33)",Brazil,80.520
10,3.0,Kieran Tierney,Left-Back,"Jun 5, 1997 (23)",Scotland,375.760
11,2.0,Héctor Bellerín,Right-Back,"Mar 19, 1995 (25)",Spain,375.760
12,17.0,Cédric Soares,Right-Back,"Aug 31, 1991 (29)",Portugal,53.680
13,18.0,Thomas Partey,Defensive Midfield,"Jun 13, 1993 (27)",Ghana,671.000
14,34.0,Granit Xhaka,Defensive Midfield,"Sep 27, 1992 (28)",Switzerland,335.500
15,25.0,Mohamed Elneny,Defensive Midfield,"Jul 11, 1992 (28)",Egypt,93.940
16,8.0,Dani Ceballos,Central Midfield,"Aug 7, 1996 (24)",Spain,429.440
17,7.0,Bukayo Saka,Left Midfield,"Sep 5, 2001 (19)",England,536.800
18,11.0,Martin Ødegaard,Attacking Midfield,"Dec 17, 1998 (22)",Norway,536.800
19,32.0,Emile Smith Rowe,Attacking Midfield,"Jul 28, 2000 (20)",England,36.234
20,35.0,Gabriel Martinelli,Left Winger,"Jun 18, 2001 (19)",Brazil,335.500
21,19.0,Nicolas Pépé,Right Winger,"May 29, 1995 (25)",Cote d'Ivoire,536.800
22,12.0,Willian,Right Winger,"Aug 9, 1988 (32)",Brazil,201.300
23,24.0,Reiss Nelson,Right Winger,"Dec 10, 1999 (21)",England,167.750
24,14.0,Pierre-Emerick Aubameyang,Centre-Forward,"Jun 18, 1989 (31)",Gabon,536.800
25,9.0,Alexandre Lacazette,Centre-Forward,"May 28, 1991 (29)",France,469.700

In [9]:
df2.shift(-1)

,number,name,position,birth (age),nation,시장가치(억)
0,33.0,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360
1,13.0,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840
2,44.0,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026
3,6.0,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760
4,21.0,Calum Chambers,Centre-Back,"Jan 20, 1995 (26)",England,194.590
5,16.0,Rob Holding,Centre-Back,"Sep 20, 1995 (25)",England,161.040
6,22.0,Pablo Marí,Centre-Back,"Aug 31, 1993 (27)",Spain,93.940
7,23.0,David Luiz,Centre-Back,"Apr 22, 1987 (33)",Brazil,80.520
8,3.0,Kieran Tierney,Left-Back,"Jun 5, 1997 (23)",Scotland,375.760
9,2.0,Héctor Bellerín,Right-Back,"Mar 19, 1995 (25)",Spain,375.760
10,17.0,Cédric Soares,Right-Back,"Aug 31, 1991 (29)",Portugal,53.680
11,18.0,Thomas Partey,Defensive Midfield,"Jun 13, 1993 (27)",Ghana,671.000
12,34.0,Granit Xhaka,Defensive Midfield,"Sep 27, 1992 (28)",Switzerland,335.500
13,25.0,Mohamed Elneny,Defensive Midfield,"Jul 11, 1992 (28)",Egypt,93.940
14,8.0,Dani Ceballos,Central Midfield,"Aug 7, 1996 (24)",Spain,429.440
15,7.0,Bukayo Saka,Left Midfield,"Sep 5, 2001 (19)",England,536.800
16,11.0,Martin Ødegaard,Attacking Midfield,"Dec 17, 1998 (22)",Norway,536.800
17,32.0,Emile Smith Rowe,Attacking Midfield,"Jul 28, 2000 (20)",England,36.234
18,35.0,Gabriel Martinelli,Left Winger,"Jun 18, 2001 (19)",Brazil,335.500
19,19.0,Nicolas Pépé,Right Winger,"May 29, 1995 (25)",Cote d'Ivoire,536.800
20,12.0,Willian,Right Winger,"Aug 9, 1988 (32)",Brazil,201.300
21,24.0,Reiss Nelson,Right Winger,"Dec 10, 1999 (21)",England,167.750
22,14.0,Pierre-Emerick Aubameyang,Centre-Forward,"Jun 18, 1989 (31)",Gabon,536.800
23,9.0,Alexandre Lacazette,Centre-Forward,"May 28, 1991 (29)",France,469.700
24,30.0,Eddie Nketiah,Centre-Forward,"May 30, 1999 (21)",England,268.400
25,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df2

,number,name,position,birth (age),nation,시장가치(억)
0,1,Bernd Leno,Goalkeeper,"Mar 4, 1992 (28)",Germany,429.440
1,33,Mathew Ryan,Goalkeeper,"Apr 8, 1992 (28)",Australia,107.360
2,13,Rúnar Alex Rúnarsson,Goalkeeper,"Feb 18, 1995 (25)",Iceland,26.840
3,44,Dejan Iliev,Goalkeeper,"Feb 25, 1995 (25)",North Macedonia,4.026
4,6,Gabriel,Centre-Back,"Dec 19, 1997 (23)",Brazil,375.760
5,21,Calum Chambers,Centre-Back,"Jan 20, 1995 (26)",England,194.590
6,16,Rob Holding,Centre-Back,"Sep 20, 1995 (25)",England,161.040
7,22,Pablo Marí,Centre-Back,"Aug 31, 1993 (27)",Spain,93.940
8,23,David Luiz,Centre-Back,"Apr 22, 1987 (33)",Brazil,80.520
9,3,Kieran Tierney,Left-Back,"Jun 5, 1997 (23)",Scotland,375.760
10,2,Héctor Bellerín,Right-Back,"Mar 19, 1995 (25)",Spain,375.760
11,17,Cédric Soares,Right-Back,"Aug 31, 1991 (29)",Portugal,53.680
12,18,Thomas Partey,Defensive Midfield,"Jun 13, 1993 (27)",Ghana,671.000
13,34,Granit Xhaka,Defensive Midfield,"Sep 27, 1992 (28)",Switzerland,335.500
14,25,Mohamed Elneny,Defensive Midfield,"Jul 11, 1992 (28)",Egypt,93.940
15,8,Dani Ceballos,Central Midfield,"Aug 7, 1996 (24)",Spain,429.440
16,7,Bukayo Saka,Left Midfield,"Sep 5, 2001 (19)",England,536.800
17,11,Martin Ødegaard,Attacking Midfield,"Dec 17, 1998 (22)",Norway,536.800
18,32,Emile Smith Rowe,Attacking Midfield,"Jul 28, 2000 (20)",England,36.234
19,35,Gabriel Martinelli,Left Winger,"Jun 18, 2001 (19)",Brazil,335.500
20,19,Nicolas Pépé,Right Winger,"May 29, 1995 (25)",Cote d'Ivoire,536.800
21,12,Willian,Right Winger,"Aug 9, 1988 (32)",Brazil,201.300
22,24,Reiss Nelson,Right Winger,"Dec 10, 1999 (21)",England,167.750
23,14,Pierre-Emerick Aubameyang,Centre-Forward,"Jun 18, 1989 (31)",Gabon,536.800
24,9,Alexandre Lacazette,Centre-Forward,"May 28, 1991 (29)",France,469.700
25,30,Eddie Nketiah,Centre-Forward,"May 30, 1999 (21)",England,268.400

### Ranks. Toes get min rank

In [11]:
df2.rank(method='min')

    number  name  position  birth (age)  nation  시장가치(억)
0      1.0   2.0      15.0         20.0    16.0     19.0
1     23.0  17.0      15.0          2.0     1.0      8.0
2     10.0  24.0      15.0         10.0    18.0      2.0
3     26.0   8.0      15.0         11.0    19.0      1.0
4      4.0  11.0       4.0          9.0     2.0     16.0
5     16.0   4.0       4.0         12.0     8.0     11.0
6     12.0  23.0       4.0         24.0     8.0      9.0
7     17.0  20.0       4.0          4.0    23.0      6.0
8     18.0   7.0       4.0          1.0     2.0      5.0
9      3.0  15.0      21.0         18.0    22.0     16.0
10     2.0  14.0      25.0         19.0    23.0     16.0
11    13.0   5.0      25.0          3.0    21.0      4.0
12    14.0  25.0      12.0         15.0    17.0     26.0
13    24.0  13.0      12.0         25.0    26.0     14.0
14    20.0  18.0      12.0         13.0     7.0      6.0
15     6.0   6.0       3.0          5.0    23.0     19.0
16     5.0   3.0      19.0         26.0     8.0     22.0
17     8.0  16.0       1.0          8.0    20.0     22.0
18    22.0  10.0       1.0         14.0     8.0      3.0
19    25.0  12.0      20.0         17.0     2.0     14.0
20    15.0  19.0      22.0         22.0     6.0     22.0
21     9.0  26.0      22.0          6.0     2.0     12.0
22    19.0  22.0      22.0          7.0     8.0     10.0
23    11.0  21.0       9.0         16.0    15.0     22.0
24     7.0   1.0       9.0         21.0    14.0     21.0
25    21.0   9.0       9.0         23.0     8.0     13.0

### Ranks rescaled to interval [0, 1]

In [12]:
df2.rank(pct = True)

      number      name  position  birth (age)    nation   시장가치(억)
0   0.038462  0.076923  0.634615     0.769231  0.615385  0.750000
1   0.884615  0.653846  0.634615     0.076923  0.038462  0.307692
2   0.384615  0.923077  0.634615     0.384615  0.692308  0.076923
3   1.000000  0.307692  0.634615     0.423077  0.730769  0.038462
4   0.153846  0.423077  0.230769     0.346154  0.134615  0.653846
5   0.615385  0.153846  0.230769     0.461538  0.403846  0.423077
6   0.461538  0.884615  0.230769     0.923077  0.403846  0.346154
7   0.653846  0.769231  0.230769     0.153846  0.923077  0.250000
8   0.692308  0.269231  0.230769     0.038462  0.134615  0.192308
9   0.115385  0.576923  0.807692     0.692308  0.846154  0.653846
10  0.076923  0.538462  0.980769     0.730769  0.923077  0.653846
11  0.500000  0.192308  0.980769     0.115385  0.807692  0.153846
12  0.538462  0.961538  0.500000     0.576923  0.653846  1.000000
13  0.923077  0.500000  0.500000     0.961538  1.000000  0.557692
14  0.769231  0.692308  0.500000     0.500000  0.269231  0.250000
15  0.230769  0.230769  0.115385     0.192308  0.923077  0.750000
16  0.192308  0.115385  0.730769     1.000000  0.403846  0.903846
17  0.307692  0.615385  0.057692     0.307692  0.769231  0.903846
18  0.846154  0.384615  0.057692     0.538462  0.403846  0.115385
19  0.961538  0.461538  0.769231     0.653846  0.134615  0.557692
20  0.576923  0.730769  0.884615     0.846154  0.230769  0.903846
21  0.346154  1.000000  0.884615     0.230769  0.134615  0.461538
22  0.730769  0.846154  0.884615     0.269231  0.403846  0.384615
23  0.423077  0.807692  0.384615     0.615385  0.576923  0.903846
24  0.269231  0.038462  0.384615     0.807692  0.538462  0.807692
25  0.807692  0.346154  0.384615     0.884615  0.403846  0.500000

### Ranks. Ties go to first value

In [13]:
df2['시장가치(억)'].rank(method = 'first')

0     19.0
1      8.0
2      2.0
3      1.0
4     16.0
5     11.0
6      9.0
7      6.0
8      5.0
9     17.0
10    18.0
11     4.0
12    26.0
13    14.0
14     7.0
15    20.0
16    22.0
17    23.0
18     3.0
19    15.0
20    24.0
21    12.0
22    10.0
23    25.0
24    21.0
25    13.0
Name: 시장가치(억), dtype: float64

### Cumulative sum

In [14]:
df2['시장가치(억)'].cumsum()

0      429.440
1      536.800
2      563.640
3      567.666
4      943.426
5     1138.016
6     1299.056
7     1392.996
8     1473.516
9     1849.276
10    2225.036
11    2278.716
12    2949.716
13    3285.216
14    3379.156
15    3808.596
16    4345.396
17    4882.196
18    4918.430
19    5253.930
20    5790.730
21    5992.030
22    6159.780
23    6696.580
24    7166.280
25    7434.680
Name: 시장가치(억), dtype: float64

### Cumulative max

In [15]:
df2['시장가치(억)'].cummax()

0     429.44
1     429.44
2     429.44
3     429.44
4     429.44
5     429.44
6     429.44
7     429.44
8     429.44
9     429.44
10    429.44
11    429.44
12    671.00
13    671.00
14    671.00
15    671.00
16    671.00
17    671.00
18    671.00
19    671.00
20    671.00
21    671.00
22    671.00
23    671.00
24    671.00
25    671.00
Name: 시장가치(억), dtype: float64

### Cumulative min

In [16]:
df2['시장가치(억)'].cummin().head()

0    429.440
1    107.360
2     26.840
3      4.026
4      4.026
Name: 시장가치(억), dtype: float64

### Cumulative product

In [17]:
df2['시장가치(억)'].cumprod()

0     4.294400e+02
1     4.610468e+04
2     1.237450e+06
3     4.981972e+06
4     1.872026e+09
5     3.642775e+11
6     5.866325e+13
7     5.510826e+15
8     4.437317e+17
9     1.667366e+20
10    6.265295e+22
11    3.363210e+24
12    2.256714e+27
13    7.571276e+29
14    7.112457e+31
15    3.054373e+34
16    1.639588e+37
17    8.801306e+39
18    3.189065e+41
19    1.069931e+44
20    5.743392e+46
21    1.156145e+49
22    1.939433e+51
23    1.041088e+54
24    4.889988e+56
25    1.312473e+59
Name: 시장가치(억), dtype: float64